* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #37b24d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239bd871'/%3E%3Cstop offset='1' stop-color='%239bd871' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231dd78b'/%3E%3Cstop offset='1' stop-color='%231dd78b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2366ee66'/%3E%3Cstop offset='1' stop-color='%2366ee66' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2337B24D'/%3E%3Cstop offset='1' stop-color='%2337B24D' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23EEB'/%3E%3Cstop offset='1' stop-color='%23EEB' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%230FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  opacity: 0%;
}

.container {
  font-size: 16px;
  width: 90vh;
  max-width: 37.5em;
  padding: 3em 1.8em;
  background-color: #074450;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
  box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}

.search-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1.2em;
}

.search-container input,
.search-container button {
  font-size: 0.9em;
  outline: none;
  border-radius: 0.3em;
}

.search-container input {
  background-color: transparent;
  border: 1px solid #a0a0a0;
  color: #fff;
  padding: 0.7em;
}

.search-container input:focus {
  border-color: #fff;
}

/* .search-container button {
  background-color: #51cf66;
  border: none;
  cursor: pointer;
} */

/* Button */

button {
  display: inline-block;
  font-weight: 600;
  border-radius: 4px;
  background-color: #51cf66;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 16px;
  transition: all 0.2s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.2s;
}

button:hover span {
  padding-right: 15px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

button:hover {
  color: #560af0;
  background-color: #ffffff;
  box-shadow: 4px 5px 17px -4px #560af0;
}

/* Content Movie */

#result {
  color: #fff;
}

.info {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 1.2em;
}

.poster {
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.06em;
  margin-top: 1.5em;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  margin: 0.6em 0 0.9em 0;
}

.rating img {
  width: 1.2em;
}

.rating h4 {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
}

.details {
  display: flex;
  font-size: 0.96em;
  gap: 1em;
  justify-content: center;
  color: #a0a0a0;
  margin: 0.6em 0;
  font-weight: 300;
}

.genre {
  display: flex;
  justify-content: space-around;
}

.genre div {
  border: 1px solid #a0a0a0;
  font-size: 0.75em;
  padding: 0.4em 1.6em;
  border-radius: 0.4em;
  font-weight: 300;
}

h3 {
  font-weight: 500;
  margin-top: 1.2em;
}

p {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.8em;
  text-align: justify;
  color: #a0a0a0;
}

.msg {
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    font-size: 14px;
    width: 70vw;
  }

  .logo {
    width: 100%;
    margin-top: 2em;
  }

  .poster {
    margin: auto;
    width: auto;
    max-height: 10.8em;
  }

  .info {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 420px) {
  .container {
    width: 100%;
  }

  .logo {
    margin-top: 4em;
  }

  .search-container {
    grid-template-columns: 1fr;
  }

  .search-container button {
    padding: 1em;
  }
} ;
